$colores:
#000,
white,
inherit,
#f7af9d,
#87455a,
#6d597a,
black,
#e56b6f;
$font-family:
'Josefin Sans',
sans-serif,
arial;
$background-color:
white,
#f7af9d,
#87455a;
$border-color:
#87455a,
#6d597a,
#6d597a solid 1px;



